/*
 * -------------------------------------------------
 * Nextflow config file for clockwork
 * -------------------------------------------------
 *
 */


manifest {
  author = 'Martin Hunt et al'
  description = 'Pipelines for processing bacterial sequence data (Illumina only) and variant calling'
  homePage = 'https://github.com/iqbal-lab-org/clockwork'
  name = 'clockwork'
  nextflowVersion = '>=19.07.0'
  version = '0.8.0'
}

params {
  cortex_mem_height = 22
  dataset_name = "" 
  db_config_file = "" 
  dropbox_dir = ""
  help = false
  max_forks  = 20  // also listed as 100, https://github.com/iqbal-lab-org/clockwork/blob/master/nextflow/generic_pipeline.nf#L6
  max_forks_combine_variant_calls = 100
  max_forks_cortex = 100
  max_forks_fastqc = 100 
  max_forks_map_reads = 100 
  max_forks_sam_to_fastq_files = 100
  max_forks_samtools = 100
  max_forks_samtools_qc = 100
  max_forks_trim_reads = 100 
  max_ram = 4
  minos_max_read_length = 200
  outprefix = ""
  output_dir = "" 
  pipeline_name = ""
  pipeline_root  = ""
  reads_in1 = "" 
  reads_in2 = "" 
  ref_dir = "" 
  ref_fasta = ""
  ref_id = "" 
  ref_metadata_tsv = ""
  references_root = "" 
  sample_name = ""
  script = "" 
  testing = false
  truth_ref = "" 
  xlsx_archive_dir = ""
}


trace {
    enabled = true
    file = 'trace.txt'
    fields = 'task_id,hash,native_id,process,tag,name,status,exit,module,container,cpus,time,disk,memory,attempt,submit,start,complete,duration,realtime,queue,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar,syscr,syscw,read_bytes,write_bytes'
}

timeline {
    enabled = true
    file = 'timeline.html'
}

report {
    enabled = true
    file = 'report.html'
}

dag {
    enabled = false
    file = 'dag.pdf'
}