/*
 * -------------------------------------------------
 * Nextflow config file for clockwork
 * -------------------------------------------------
 *
 */


manifest {
  author = 'Martin Hunt et al'
  description = ''
  homePage = 'https://github.com/iqbal-lab-org/clockwork'
  name = 'clockwork'
  nextflowVersion = '>=19.07.0'
  version = '0.8.0'
}



params {
  outDir = "${PWD}"     // Path to output directory, default PWD
  sample =  "test_samples.tsv"   // sample TSV file
  genome = 'GRCh37'     // Default reference genome is GRCh38
  // path to reference files subdirectory
  verbose = false        // Enable for more verbose information, default false
  test = false          // boolean Not testing by default
  markdup_java_options = '"-Xms4000m -Xmx7g"' // Established values for markDuplicate memory consumption
  // see https://github.com/SciLifeLab/Sarek/blob/master/conf/base.config
  singleCPUMem  = 7.GB  // for processes that are using more memory but a single CPU only
  publishDirMode = 'link' // publishDir mode is 'link' by default
  tools = 'delly,facets,mutect2,manta,strelka2,msisensor,haplotypecaller,polysolver,mutsig,neoantigen,lohhla,pileup,conpair,conpairall'
  assayType = "exome" // either 'exome' or 'genome'; default exome
  somatic = false
  germline = false
  debug = false
  outname = 'make_bam_output.tsv'
  publishAll = false
  mapping = false
  pairing = false
  bam_pairing = false
}


trace {
    enabled = true
    file = 'trace.txt'
    fields = 'task_id,hash,native_id,process,tag,name,status,exit,module,container,cpus,time,disk,memory,attempt,submit,start,complete,duration,realtime,queue,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar,syscr,syscw,read_bytes,write_bytes'
}

timeline {
    enabled = true
    file = 'timeline.html'
}

report {
    enabled = true
    file = 'report.html'
}

dag {
    enabled = false
    file = 'dag.pdf'
}